#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

PACKAGE              := $(shell dpkg-parsechangelog | egrep '^Source:' | cut -f2 -d' ')
VERSION              := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f2 -d' ' | sed 's/-[0-9\.]*$$//')
JAVA_HOME            := /usr/lib/jvm/java-6-openjdk
DEB_INSTALL_CHANGELOGS_ALL := VERSION.txt
JETTYDISTLIB         := jetty-distribution/target/distribution/lib

binary-post-install/lib$(PACKAGE)-java::
# Jetty Libs
	install $(JETTYDISTLIB)/jetty-client-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-client.jar
	install $(JETTYDISTLIB)/jetty-continuation-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-continuation.jar
	install $(JETTYDISTLIB)/jetty-deploy-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-deploy.jar
	install $(JETTYDISTLIB)/jetty-http-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-http.jar
	install $(JETTYDISTLIB)/jetty-io-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-io.jar
	install $(JETTYDISTLIB)/jetty-jmx-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-jmx.jar
	install $(JETTYDISTLIB)/jetty-jndi-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-jndi.jar
	install $(JETTYDISTLIB)/jetty-jsp-2.1-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jsp/jetty-jsp-2.1.jar
	install $(JETTYDISTLIB)/jetty-plus-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-plus.jar
	install $(JETTYDISTLIB)/jetty-policy-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-policy.jar
	install $(JETTYDISTLIB)/jetty-rewrite-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-rewrite.jar
	install $(JETTYDISTLIB)/jetty-security-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-security.jar
	install $(JETTYDISTLIB)/jetty-server-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-server.jar
	install $(JETTYDISTLIB)/jetty-servlet-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-servlet.jar
	install $(JETTYDISTLIB)/jetty-servlets-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-servlets.jar
	install $(JETTYDISTLIB)/jetty-util-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-util.jar
	install $(JETTYDISTLIB)/jetty-webapp-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-webapp.jar
	install $(JETTYDISTLIB)/jetty-websocket-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-websocket.jar
	install $(JETTYDISTLIB)/jetty-xml-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jetty-xml.jar
# Jetty JNDI 3rd Party Jars
	install $(JETTYDISTLIB)/jndi/activation-1.1.jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jndi
	install $(JETTYDISTLIB)/jndi/geronimo-jta_1.1_spec-1.1.1.jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jndi
	install $(JETTYDISTLIB)/jndi/mail-1.4.1.jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jndi
# Jetty JSP 3rd Party Jars
	install $(JETTYDISTLIB)/jsp/ecj-3.5.1.jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jsp
	install $(JETTYDISTLIB)/jsp/jetty-jsp-2.1-7.1.6.v20100715.jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jsp
	install $(JETTYDISTLIB)/jsp/jsp-2.1-glassfish-2.1.v20100127.jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jsp
	install $(JETTYDISTLIB)/jsp/jsp-api-2.1-glassfish-2.1.v20100127.jar debian/lib$(PACKAGE)-java/usr/share/jetty/lib/jsp
# Jetty Policy
	install $(JETTYDISTLIB)/policy/jetty.policy debian/lib$(PACKAGE)-java/usr/share/jetty/lib/policy
# Jetty Start Jar
	install $(JETTYDISTLIB)/jetty-start-$(VERSION).jar debian/lib$(PACKAGE)-java/usr/share/jetty/start.jar

get-orig-source:
	uscan --download-version $(VERSION) --force-download --rename
